* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
	height: 40px;
	max-width: 1760px;
	background-color: rgb(224, 219, 219);
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	justify-content: space-between;
}
.left-side {
	width: 500px;
	display: flex;
	justify-content: space-between;
	padding-top: 8px;
}
.right-side {
	width: 210px;
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	align-items: center;
}
.img {
	width: 10px;
	height: 20px;
}
